.landingGrid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 1rem;
  padding: 2rem;
}

.leftColumn,
.centerColumn,
.rightColumn {
  display: flex;
  flex-direction: column;
}

.sectionContainer {
  margin-bottom: 1rem;
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

.emoji {
  margin-right: 0.5rem;
}

/**
 * Masonry Guide Layout:
 * 
 * Multi-column layout of 3 columns and a maximum 
 * column width of 1/5 of the total page width
 */
.guidesGrid {
  column-count: 3;
  column-gap: 1rem;
}

/* Single-Column Sections */
.theoryGrid,
.singleGrid {
  column-count: 1;
  column-gap: 1rem;
}

/** 
 * If screen width is smaller, layout is 
 * changed to single-column display. 
 * 
 * Column-count is reduced to 1 for 100% of page width. 
 */
@media (max-width: 1200px) {
  .landingGrid {
    grid-template-columns: 1fr;
  }
  /* TODO: More Gradient Styling + Max Width */
  .guidesGrid {
    column-count: 1;
  }
}

/* TODO: Add media styling for single-column sections */
