.card {
  display: inline-block;
  width: 100%;
  min-width: 246px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  break-inside: avoid;
}

.cardTitle {
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.numbering {
  font-weight: bold;
}

.pageList {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.25rem;
}
